<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apae de Jóia</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo_apae.png') }}" type="image/x-icon">
</head>
</head>
<body>
    <header>
        <a href="/"><H1>APAE</H1></a>
        <a href="/"><img src="{{ url_for('static', filename='images/logo_apae.png') }}" width=5% alt=""></a>
        <a href="/pap">PAP</a>
        <a href="/clinica">Clinica</a>
        <a href="/seja_voluntario">Seja Voluntário</a>
    </header>
    {% block body %}
    {% endblock %}
</body>
</html>