<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apae de Jóia</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo_apae.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style_header.css') }}">
</head>
</head>
<body>
    <header id="header">
        <a href="/"><img src="{{ url_for('static', filename='images/logo_apae.png') }}" width=5% alt="" id="logo"></a>
        <a href="/"><H1 id="apae">APAE</H1></a>
        <a href="/projetos" id="projects">Projetos</a>
        <a href="/clinica" id="clinic">Clinica</a>
        <a href="/seja_voluntario" id="vonluntary">Seja Voluntário</a>
    </header>

    
    {% block body %}
    {% endblock %}
    <footer>
        <a href="https://www.instagram.com/apaedejoia/" target="_blank">
            <img src="{{ url_for('static', filename='images/instagram.png') }}" alt="" width=3%> 
            <p>@apaedejoia</p></a>
        
        <a href="https://www.facebook.com/Apaedejoia" target="_blank">
            <img src="{{ url_for('static', filename='images/facebook.png') }}" alt="" width=2%>
            <p>@Apae Jóia</p></a>

        <a href="https://wa.me/5599773239" target="_blank">
            <img src="{{ url_for('static', filename='images/whatsapp.png') }}" alt="" width="2%">
            <p>+55 55 99773239</p></a>
    </footer>
</body>
</html>