{% extends "base.html" %}

{% block body %}

    <h1>Clinica</h1>

    <p>A Clínica da APAE é um espaço de cuidado e acolhimento, 
        onde cada pessoa é acompanhada de forma única e respeitosa. 
        Nossa equipe multidisciplinar trabalha lado a lado para estimular 
        o desenvolvimento, apoiar as famílias e fortalecer a inclusão em 
        todas as etapas da vida. Aqui, acreditamos que cada conquista, 
        por menor que pareça, é um grande passo para o futuro.A Clínica 
        da APAE é um espaço de cuidado e acolhimento, onde cada pessoa é 
        acompanhada de forma única e respeitosa. Nossa equipe multidisciplinar 
        trabalha lado a lado para estimular o desenvolvimento, apoiar as 
        famílias e fortalecer a inclusão em todas as etapas da vida. Aqui, 
        acreditamos que cada conquista, por menor que pareça, é um grande passo 
        para o futuro.</p>

    <div>
        <h3>Psicóloga</h3>
        <p>Arlete Sonza / Psicóloga Apaeana</p>
        <img src="{{ url_for('static', filename='images/icon_arlete.jpeg') }}" alt="">
        <p>A psicóloga da APAE é responsável por oferecer 
            acompanhamento psicológico individual e em grupo, 
            contribuindo para o bem-estar emocional dos nossos alunos.</p>
    </div>

    <div>
        <h3>Fisioterapeuta</h3>
        <p>Marcieli Gattermann / Fisioterapeuta Apaeana</p>
        <img src="{{ url_for('static', filename='images/icon_marci.jpg') }}" alt="">
        <p>A fisioterapeuta atua na reabilitação e no estímulo motor das 
            pessoas atendidas na APAE, utilizando exercícios terapêuticos e 
            atividades adaptadas. Seu objetivo é promover saúde, bem-estar e 
            autonomia, sempre com acolhimento e respeito às necessidades 
            individuais.</p>
    </div>

    <div>
        <h3>Assistente Social</h3>
        <p>Caroline Göttems / Assistente Social Apaeana</p>
        <img src="{{ url_for('static', filename='images/icon_carol.jpg') }}" alt="">
        <p>A assistente social da APAE realiza o acolhimento das famílias, 
            orientando sobre direitos sociais, políticas públicas e acesso 
            a serviços. Atua como elo entre a instituição, a comunidade e 
            os órgãos públicos, fortalecendo a rede de apoio às pessoas com 
            deficiência.</p>
    </div>

{% endblock %}