<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apae de Jóia</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo_apae.ico') }}" type="image/x-icon">
</head>
<body>
    <header>
        <h1>APAE</h1>
        <p>Sobre</p>
        <p>Clinica</p>
        <p>Seja voluntário</p>
    </header>

    <div>
        <h2>Oque é uma APAE?</h2>
        <p>APAE (Associação de Pais e Amigos dos Excepcionais).</p>
        <p>Uma Apae é uma organização social que tem como objetivo promover 
            atividades direcionadas a pessoa com deficiência, sendo elas prevenção, diagnóstico, reabilitação, tratamento e inclusão.</p>
    </div>

    <div>
        <h2>A APAE é uma escola?</h2>
        <p>É muito mais que apenas uma escola, pois além de educação ela provem de tratamentos especializados, 
            assim dando ao indivíduo uma melhor qualidade de vida, tanto no âmbito da saúde quanto social.</p>
    </div>
    
    <div>
        <h2>Quais serviços a APAE de Jóia disponibiliza?</h2>
        <p>Aqui em nossa instituição possuímos serviços sociais, psicológicos e fisioterapêutico, 
            disponibilizados totalmente gratuitos a nossos alunos e usuários.</p>
        <p>Veja mais sobre na aba <a href="">“Clinica”.</a></p>
    </div>

</body>
</html>